.search__input {
    border: none;
    outline: none;
    height: 68px;
    border-radius: 100px;
    box-sizing: border-box;
    width: 72.37%;
    padding-left: 24px;
    font-family: Roboto, Arial, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    caret-color: #2F71E5;
}
.search__input::placeholder{
    font-family: Roboto, Arial, Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}