.content-title {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .content-title {
    line-height: 34px;
  }
}
