.header__line {
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  height: 1px;
}

.header__line_theme_light {
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #d1d2d6;
}
