@import url('./__button/search__button.css');
@import url('./__input/search__input.css');

.search {
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    height: 68px;
    margin-top: 64px;
    display: flex;
    align-items: center;
    
}