@import url('./__button/header__button.css');
@import url('./__content/header__content.css');
@import url('./__headings/header__headings.css');
@import url('./__line/header__line.css');
@import url('./__link/header__link.css');
@import url('./__logo/header__logo.css');
@import url('./__menu/header__menu.css');
@import url('./__subtitle/header__subtitle.css');
@import url('./__title/header__title.css');

.header{
    background-image: url('../../../images/banner.jpg');
    background-size: cover;
    padding-bottom: 80px;
    background-attachment: fixed;
}

