.header__button {
  margin-left: 32px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  padding: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__button-icon {
}

.header__button-icon::after {
  content: url('../../../../images/logout.png');
  margin-left: 5px;
  transform: translateY(5px);
}
